<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
       <h6> <%= @user.email %> </h6>
       <h3 class="jumbotron"> <%= @user.about_me %> </h3>
    </section>
  </aside>

  <aside class="col-md-4">
    <section class="user_info">
    <div class="jumbotron">
      No Posts to display yetdasdjaskjdlhjdls sdasdkjahdkjashasd asdaskjdhkasdjasd
      asddasdasdasd
      s asdasdasdasd
      ad
      asas
      d
      as
      das
      das

    </div>
    </section>
  </aside>

</div>

